@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:ital,wght@0,100;0,700;1,600&family=Open+Sans&family=Roboto:wght@100;400&display=swap');

/*=========================================================================Colors=======*/

.uppercase{
    text-transform: uppercase;
        }
body{
    background-color: lightgray;
}

.ui-menu-color{
    color: #fafafa;
}

.list-inline-item{
    background-color:#000;
}

.menu-item span{
    color: #fafafa;
}

.menu-item a i{
    color: #fafafa;
}

.bg-color-contact{
    background-color: #000;
}
/*===================================================================Headings=======*/
.logo{
    background: url("../images/NMCrest.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    max-height: 200px;
    min-width: auto;
        transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}
.name{
    font-family: "Montserrat", sans-serif;
    font-size: 46px;
    font-weight: 600;
    font-style: italic;
    margin-top: 50px;
    text-align: center;
    text-shadow: 2px 2px
}

.title{
    font-family: "roboto", sans-serif;
    font-weight: 400;
    font-size:28px ;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
}



.social-networks{
    text-align: center;
}

.social-networks li{
    display: inline;
}

.social-networks i{
    font-size: 210%;
    margin: 2%;
    padding: 5%;
    color: #000;
    
}

.list-inline-item:not(:last-child){
   margin: 0;
       }

.menucontainer{
    font-size: 0;
}

.nav li{
    font-size: 14px;
    padding: 0;
}

.menuitem {
    height: 100px;
    text-align: center;
    padding:0;
        }

.menuitem a{
    width: 100%;
    text-decoration: none;
    color: #fafafa;
    height: 100px;
}

.menuitem a i{
    padding-top: 20px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

.menuitem span{
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align:center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}
/*=============================================Hover.css=================================*/
.hvr-sweep-to-right:before{
    background: cornflowerblue;
    height:100px;
    }


#bg-color-home{
    background-color: cornflowerblue;
    padding: 20px;
}
.imgheader{
    font-family: "roboto", sans-serif;
    font-style: italic;
    text-align: center;
    color: #fafafa;
    background-color: cornflowerblue;
    padding-top: 20px;
    padding-bottom: 40px;
    width:0 auto;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
#image-zoom{
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes hero-zoom{
    from{
        transform: scale(.7);
    }
    to{
        transform: scale(1);
    }
}

#cover-text, #cover-text h4{
    color: black;
}

#cover-text{
    font-family: "Montserrat", sans-serif;
    font-size: 140px;
    font-weight: bolder;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 3px;
    width: 700px;
    height: 100px;

    padding: 30px;
    text-align: center;
    

    background-color: white;

    top: 30px;
    right: 350px;
    bottom: 10px;
    position: absolute;

    border: 1px solid lightgray;
}



 /*====================================================================Footer====================*/

.uppercase{
    text-transform: uppercase;
        }

.footer-headings{
    font-family: "Montserrat", sans-serif; 
    color:black;
    font-weight: 600;
    text-align: center;
    min-height: 50px;
    padding-top: 20px;
               }
  
.footerimg{
    width: 90px;
    height: 90px;
    margin: 20px;
    }


 p{
     padding-left: 20px;
     color: black;
     text-align: center;
 }   
/*================================================================Gallery Section============================*/

/*===NEED TO CENTER IMAGE ON GALLERY PAGE==*/
.carousel-item{
    width: 50%;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto
    }
/*===================================================================Contact Us================================*/
.committee{
    font-family: "Montserrat", sans-serif;     
    font-size: 36px;
    font-weight: 700;
    font-stretch: semi-condensed;
    padding: 20px;
    margin-bottom: 30px;
    font-style: italic;
   }
.contact-text {
    text-align:center;
    background-color: cornflowerblue;
    padding: 30px;
  }
.contact-text h5,h6{
      color: #fafafa;
      font-family: "Roboto", sans-serif; 
      font-weight: 900;
      font-style: italic;
  }
  
.request-info{
      background-color: cornflowerblue;
              }
.request-info h4{
        text-align: center;
        font-family: "Montserrat", sans-serif; 
        font-weight: 900;
        font-style: italic;
        color: #fafafa;
}
.request-info h6{
    font-family: "Roboto", sans-serif;
    letter-spacing: 2px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.center-form{
padding-top:10px;
margin: 0 auto;
max-width:70% ;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    }

button[type="submit"]:hover {
  background-color: black;
  color:red;
}
/*==============================================================================Media Query========================*/

@media(min-width: 992px) {
.center-form{
    padding-top:20px;
    min-height: 240px;
    margin: 0 auto;
    max-width:50% ;
}
}

/*==============================================================================Download========================*/
h4{
    text-align: center;
    padding: 20px;
    color: cornflowerblue;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
}