@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:ital,wght@0,100;0,700;1,600&family=Open+Sans&family=Roboto:wght@100;400&display=swap');

/*=============================================Colors=======*/

body{
    background-color: lightgray;
}

.ui-menu-color{
    color: #fafafa;
}

.list-inline-item{
    background-color:#000;
}

.menu-item span{
    color: #fafafa;
}

.menu-item a i{
    color: #fafafa;
}
/*=============================================Headings=======*/
.logo{
    background: url("../images/NMCrest.jpg");
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100px;
    min-width: auto;
    background-size: cover;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}
.name{
    font-family: "Montserrat", sans-serif;
    font-size: 46px;
    font-weight: 600;
    font-style: italic;
    margin-top: 30px;
    text-align: center;
    text-shadow: 2px 2px
}

.title{
    font-family: "roboto", sans-serif;
    font-weight: 400;
    font-size:28px ;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
}

h4{
    text-align: center;
    padding: 20px;
    color: cornflowerblue;
    font-family: "Roboto", sans-serif;
}

.social-networks{
    text-align: center;
}

.social-networks li{
    display: inline;
}

.social-networks i{
    font-size: 210%;
    margin: 2%;
    padding: 5%;
    color: #000;
    
}

.list-inline-item:not(:last-child){
   margin: 0;
       }

.menucontainer{
    font-size: 0;
}

.nav li{
    font-size: 14px;
    padding: 0;
}

.menuitem {
    height: 100px;
    text-align: center;
    padding:0;
        }

.menuitem a{
    width: 100%;
    text-decoration: none;
    color: #fafafa;
    height: 100px;
}

.menuitem a i{
    padding-top: 10px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

.menuitem span{
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align:center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}
/*=============================================Hover.css=======*/
.hvr-sweep-to-right:before{
    background: cornflowerblue;
    height: 6
    70px;}

#hero-image{
        height: 600px;
        width: 100%;
        background: url(../images/2020juniora.jpg); 
        background-repeat: no-repeat;
        background-position: center;

        animation-name: hero-zoom;
        animation-duration: 5s;
        animation-fill-mode: forwards;
    }

#hero-outer{
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: cornflowerblue;
}

@keyframes hero-zoom{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.3);
    }
}

#cover-text, #cover-text h4{
    color: black;
}

#cover-text{
    font-family: "Montserrat", sans-serif;
    font-size: 140px;
    font-weight: bolder;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 3px;
    width: 700px;
    height: 100px;

    padding: 30px;
    text-align: center;
    

    background-color: white;

    top: 30px;
    right: 350px;
    bottom: 10px;
    position: absolute;

    border: 1px solid lightgray;
}
.training-heading{
    text-align: center;
    color:#fafafa;
    font-size: 30px;
    background-color: black;
}

#training{
    background-image: url("../images/U8.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#training div{
    color:black;
    background-image: url("../images/lgfapitch.jpg");
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, .2);
    width: 19%;
    height: 200px;
    float: left;
    padding: 10px 0 0 10px;
    text-align: center;
    margin: 7px;

}
/*=============================================Footer=======*/

.uppercase{
    text-transform: uppercase;
}

.footer-headings{
    font-family: "Montserrat", sans-serif; ;
    color: cornflowerblue;
    font-weight: 600;
    text-align: center;
    min-height: 50px;
    padding-top: 20px;
           }
  
.footerimg{
    width: 100px;
    height: 100px;
    margin: 20px;
    }

/*=============================================Gallery Section=======*/
.container{
    background-color: cornflowerblue;
    width: 100%;
}

.academy-pdf i{
    font-size: 30px;
    color: #000;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
}

.academy-pdf i:hover{
    color: navy;
}